# Ignore obj folder
obj/

# Ignore compiled executables
*.exe
*.dll

*.obj
*.bin


/.vscode

/Application/bin
/Application/obj

/Domain/bin
/Domain/obj

/Persistence/bin
/Persistence/obj

/API/bin
/API/obj
.fake

*.json
*.json
/API/obj
/API/obj/Debug
/API/obj
/Persistence/obj
/Persistence/obj
/API/obj
/API/bin

*.cache
*.editorconfig
*.cache
*.json
*.pdb
*.dll
*.pdb
*.cache
*.json
*.json
*.dll
*.dll
/API/obj
/API/obj
/API/obj
/API/bin
*.dll
