# Ignore obj folder
obj/

# Ignore compiled executables
*.exe
*.dll

*.obj
*.bin


/.vscode

/Application/bin
/Application/obj

/Domain/bin
/Domain/obj

/Persistence/bin
/Persistence/obj

/API/bin
/API/obj
.fake

*.json
*.json
/API/obj
/API/obj/Debug
/API/obj
/Persistence/obj
/Persistence/obj
/API/obj
