# Ignore obj folder

# Ignore compiled executables
*.exe
*.dll

*.obj
*.bin


/.vscode

/Application/bin
/Application/obj

/Domain/bin
/Domain/obj

/Persistence/bin
/Persistence/obj

/API/bin
/API/obj
.fake

*.json
*.cache
*.editorconfig
*.pdb

